@use "mixinCollection" as mix;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue";
}

body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);

    .modal {
        position: absolute;
        background-color: hsl(0, 0%, 0%);
        width: calc(100% - 60vw);
        height: 100%;
        top: 0;
        opacity: 0.5;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2.5em;
    padding-right: 2em;
    position: relative;

    @media (max-width: 1400px) {
        svg {
            zoom: 90%;
        }
    }

    @media (max-width: 900px) {
        padding-right: 1.5em;
        padding-left: 1.5em;

        .burger-icon {
            position: absolute;
            left: calc(100vw - 3em);
            top: 50%;
            width: 2em;
            height: 2em;
            background: url(../public/images/icon-menu.svg);
            background-color: hsl(0, 0%, 98%);
            background-repeat: no-repeat;

            &:hover {
                cursor: pointer;
            }
        }

        .close-icon {
            position: absolute;
            left: calc(100vw - 3em);
            top: 50%;
            width: 2em;
            height: 2em;
            background: url(../public/images/icon-close-menu.svg);
            background-color: white;
            background-repeat: no-repeat;

            &:hover {
                cursor: pointer;
            }
        }

        .hidden {
            z-index: -1;
        }

    }

    .logo-container {
        display: flex;
    }

    .first-list,
    .second-list {
        list-style-type: none;
        @include mix.center("center", "space-evenly");
        font-size: 15px;
        padding-top: 2px;

        li {
            @media (max-width: 900px) {
                color: hsl(0, 0%, 41%);
            }
        }

        li:hover {
            cursor: pointer;
        }

        @media (max-width: 1400px) {
            font-size: 14px;
        }

        @media (max-width: 900px) {
            display: flex;
        }
    }

    .first-list {
        gap: 2.2em;
        margin-left: 4em;

        @media (max-width: 1400px) {
            margin-left: 3.5em;
        }

        @media (max-width: 900px) {
            position: absolute;
            flex-direction: column;
            width: 60vw;
            right: 0;
            top: 0%;
            padding-top: 5em;
            padding-left: 1.5em;
            padding-bottom: 2em;
            background-color: hsl(0, 0%, 98%);
            gap: 1em;
            min-height: calc(50vh + 7em);
            display: none;
        }

        .features,
        .company {
            display: inline-flex;
            gap: 0.2em;

            @media (max-width: 900px) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .icon {
                display: inline-block;
                background-image: url(../public/images/icon-arrow-down.svg);
                height: 50%;
                width: 1em;
                background-repeat: no-repeat;
                background-position-x: 2px;
                background-position-y: 3px;

                @media (max-width: 900px) {
                    height: 1em;
                    flex-basis: 50%;
                    margin-left: 0.5em;
                }
            }

            &:hover {
                .icon {
                    background-image: url(../public/images/icon-arrow-up.svg);
                }
            }
        }

        .features {
            position: relative;

            @media (max-width: 900px) {
                position: static;
            }

            .item-list {
                display: none;
                padding: 1.2em;

                span {
                    display: inline-flex;
                    width: 100%;
                    padding: 0.4em;
                    gap: 0.8em;
                    align-items: center;

                    svg {
                        display: inline-block;
                    }
                }
            }

            &:hover .item-list {
                width: 10em;
                height: max-content;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 65%;
                right: -5%;
                border-radius: 0.5em;
                gap: 0.3em;
                box-shadow: 1px 1px 25px 5px hsl(0, 0%, 8%, 0.2);

                @media (max-width: 900px) {
                    position: static;
                    box-shadow: none;
                    gap: 0.5em;
                    padding: 1em;
                }
            }
        }

        .company {
            position: relative;

            .item-list {
                display: none;
                padding: 1.2em;

                span {
                    display: inline-flex;
                    width: 100%;
                    padding: 0.4em;
                    gap: 0.8em;
                    align-items: center;

                }
            }

            &:hover .item-list {
                width: 8em;
                height: max-content;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 65%;
                border-radius: 0.5em;
                gap: 0.3em;
                box-shadow: 1px 1px 25px 5px hsl(0, 0%, 8%, 0.2);

                @media (max-width: 900px) {
                    position: static;
                    box-shadow: none;
                    gap: 0.5em;
                }
            }
        }
    }

    .visible {
        display: flex;
    }

    .second-list {
        gap: 2.4em;
        padding-right: 0.3em;

        @media (max-width: 900px) {
            position: absolute;
            right: 0;
            top: var(--heightOfTopList);
            flex-direction: column;
            align-items: center;
            width: 60vw;
            background-color: hsl(0, 0%, 98%);
            height: 50vh;
            top: 340px;
            display: none;
        }

        li:last-child {
            border: 2px solid;
            padding-left: 1.4em;
            padding-right: 1.4em;
            padding-top: 0.9em;
            padding-bottom: 0.8em;
            transform: translateY(-1em);
            border-radius: 12px;
            font-size: 15px;
        }
    }
}

.show {
    display: flex !important;
}


main {
    display: flex;
    min-height: 120vh;
    padding-bottom: 5em;
    width: 100%;

    @media (min-width: 1440px) {
        padding-top: 3.3em;
        gap: 8.5em;
    }

    @media (max-width: 900px) {
        padding-top: 0em;
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 1em;
        padding-bottom: 0;
        padding-top: 1em;
        justify-content: center;
    }

    @media (max-width: 450px) {
        min-height: 130vh;
    }

    section {
        padding-top: 6.3em;

        @media (max-width: 1400px) {
            padding-left: 9.2em;
            padding-top: 8.5em;
            gap: 2.8em;
        }

        padding-left: 10.3em;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 3em;

        @media (max-width: 900px) {
            flex: 1;
            padding: 1em;
            gap: 1em;
        }

        h1 {
            font-weight: 800;

            @media (max-width: 1400px) {
                font-size: 4.5rem;
            }

            font-size: 5rem;
            letter-spacing: 0px;
            width: 11ch;
            color: hsl(0, 0%, 8%);

            @media (max-width: 900px) {
                font-size: 2.2rem;
                width: 100%;
                text-align: center;
            }
        }

        p {
            width: 45ch;
            line-height: 1.48em;
            font-size: 18px;
            word-spacing: 1px;
            color: hsl(0, 0%, 41%);

            @media (max-width: 1400px) {
                font-size: 16px;
                line-height: 1.5em;
            }

            @media (max-width: 900px) {
                width: 100%;
                text-align: center;
            }

            button {
                display: block;
                margin-top: 3.1em;
                padding: 1.2em 2em;
                padding-right: 1.7em;
                font-size: 17px;
                letter-spacing: 0.4px;
                border-radius: 1rem;
                outline: none;
                border: none;
                color: hsl(0, 0%, 98%);
                background-color: hsl(0, 0%, 8%);

                &:hover {
                    background-color: hsl(0, 0%, 98%);
                    color: hsl(0, 0%, 8%);
                    cursor: pointer;
                    border: 2px solid;
                }

                @media (max-width: 1400px) {
                    margin-top: 2.8em;
                    font-size: 16px;
                    padding-left: 1.7em;
                }

                @media (max-width: 900px) {
                    margin: 2em auto;
                }
            }
        }

        .sponsors {
            display: flex;
            gap: 2.5em;
            width: 100%;
            margin-top: 3.8em;
            align-items: center;

            @media (max-width: 1400px) {
                margin-top: 3em;
                gap: 2.2em;

                svg {
                    zoom: 90%;
                }
            }

            @media (max-width: 900px) {
                justify-content: space-evenly;
                gap: 0;
                flex-wrap: wrap;
                padding-left: 0.5em;
                padding-right: 0.5em;
                margin-top: 0;

                svg {
                    zoom: 90%;
                }
            }

            @media (max-width: 500px) {
                justify-content: space-between;

                svg {
                    zoom: 70%;
                }
            }
        }
    }

    aside {
        flex-basis: 50%;
        background-repeat: no-repeat;
        background-image: url(../public/images/image-hero-desktop.png);
        background-size: 78%;

        @media (max-width: 1400px) {
            background-size: 69%;
            background-position: 60% 50%;
        }

        @media (max-width: 900px) {
            background-image: url(../public/images/image-hero-mobile.png);
            flex-grow: 1;
            background-size: contain;
            background-position: center;
        }

        @media (max-width: 450px) {
            background-size: 100%;
            padding-top: 3em;
        }
    }


}